<html>
  <head>
  </head>
  <body>
    <h1>Summary</h1>
    <ul>
    {{#palettes}}
      <ul>
        <li><a href="{{name}}.html">{{name}}</a></li>
      </ul>
    {{/palettes}}
    </ul>
  </body>
</html>
